<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Home</title>
</head>
<link rel="stylesheet" href="./css/style2.css">
<body>
  <h1>Blog Home</h1>
  <% if (session && session.userId) { %>
    <a href="/profile">Your Profile</a> | <a href="/logout">Logout</a> | <a href="/new-post">New Post</a>
  <% } else { %>
    <a href="/signup">Sign Up</a> | <a href="/login">Login</a>
  <% } %>
  <hr>


<center>


  <div id="ad">
  <script type="text/javascript">
    atOptions = {
      'key' : '0f60b79fd3e5b8703a780ac8b38d1278',
      'format' : 'iframe',
      'height' : 60,
      'width' : 468,
      'params' : {}
    };
  </script>
  <script type="text/javascript" src="//www.highperformanceformat.com/0f60b79fd3e5b8703a780ac8b38d1278/invoke.js"></script>
</div>

</center>
  <% blogs.forEach(blog => { %>
    <div>
      <img src="<%= blog.thumbnail %>" alt="Thumbnail" style="width: 200px; height: auto;">
      <h2><%= blog.title %></h2>
      <p><%= blog.content %></p>
      <small>
        Posted by <%= blog.creator ? blog.creator.username : 'Unknown' %> 
        on <%= blog.createdAt.toLocaleString()   %>
      </small>
      
      
    </div>
    <hr>
  <% }) %>




  
  <script async="async" data-cfasync="false" src="//pl25567305.profitablecpmrate.com/2633c36c177cec6f69827b38965255fc/invoke.js"></script>
  <div id="container-2633c36c177cec6f69827b38965255fc"></div>


  <script async="async" data-cfasync="false" src="//pl25567305.profitablecpmrate.com/2633c36c177cec6f69827b38965255fc/invoke.js"></script>
<div id="container-2633c36c177cec6f69827b38965255fc"></div>

<script type="text/javascript">
	atOptions = {
		'key' : '0f60b79fd3e5b8703a780ac8b38d1278',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/0f60b79fd3e5b8703a780ac8b38d1278/invoke.js"></script>


<script type="text/javascript">
	atOptions = {
		'key' : '0f60b79fd3e5b8703a780ac8b38d1278',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/0f60b79fd3e5b8703a780ac8b38d1278/invoke.js"></script>


</body>
</html>
